@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-dark-autofill {
    -webkit-text-fill-color: #fff;
  }
  .text-light-autofill {
    -webkit-text-fill-color: #000;
  }
}

* {
  @apply m-0 box-border p-0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Revert text color */
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;

  /* Revert background color */
  transition: background-color 5000s ease-in-out 0s;
}

p,
h2,
h1,
h3,
div {
  @apply text-white;
}

.button-default {
  @apply bg-purple-700 cursor-pointer disabled:cursor-not-allowed hover:bg-purple-800 disabled:bg-purple-600;
}

.card-theme {
  @apply bg-[#252428] shadow-lg rounded-lg border border-[#2C2C2F];
}

.input-theme {
  @apply bg-[#302F33] ring-purple-600;
}

.input {
  @apply w-full rounded bg-transparent px-1 py-2 text-medium text-zinc-900 outline-none placeholder:text-neutral-400 disabled:cursor-not-allowed dark:bg-transparent dark:text-zinc-100 dark:placeholder:text-zinc-400;
}

.toast-success {
  @apply border-[#70D12B] bg-[#d2f4ba] text-zinc-700;
}
.toast-info {
  @apply border-[#416DFC] bg-[#bde3f8];
}
.toast-error {
  @apply border-[#FF515D] bg-[#fed6d7];
}
.toast-warning {
  @apply border-[#dd6a1f] bg-[#feebc8];
}
